*{
    margin : 0;
    padding: 0;
}

header{
    text-align: center;
    background-image: url(../Img/fundo-topo.jpg);
    padding: 10px 0;
}

header h1{
    margin: 0;
    height: 84px;
}

nav{
    padding: 15px 0;
    text-align: center;
    
}

nav li{
    display: inline;
    background-image: url(../Img/patinha-preta.png);
    background-repeat: no-repeat;
    padding-right: 27px;
    margin-right: 10px;
    background-position: center right;
}

nav a{
    text-decoration: none;
    color: #000;
}

nav a:haver{
    color: #5dd432;
    }
    
    #itemContato{
        background-image: none;
        margin-right: 0;
        padding-right: 0;
    }
    
    .fundo-verde{
        background-color: #bdff9c;

    }
    
    .container{
        width: 900px;
        margin: 0 auto;
        padding: 56px 0;
    }
    
    .flex-container{
        display: flex;
        justify-content: space-between;
    }
    
    .flex-container .col{
       width: 430px;
    }

    .texto-centralizado{
        text-align: center;
    }

    .produto{
        width: 235px;
    }

    .produto figure{
        border: 1px solid #c4c4c4;
        background-color: #fff;
        margin: 0 0 15px 0;
        text-align: center;
        height: 160px;
        line-height: 160px;
    }

    .produto figure img{
        vertical-align: middle;
    }

    .btn-pata{
        border: 1px solid #91e467;
        background-color: #d3fbbd;
        text-decoration: none;
        color: #000;
        border-radius: 5px;
        display: inline-block;
        padding: 10px 20px;
    }

    #produto .flex-container{
        margin-top: 43px;
    }

form{
    width: 300px;
}  

form input,
form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    
}

footer{
    text-align: center;
    background-image: url(../Img/fundo-topo.jpg);
    padding: 10px 0;
}
